<div class="col-md-5 text-center">
  <h2><%= title %></h2>
  <br><br>
  <%= form_for process_config, class: 'config-form', remote: true do |f| %>
    <%= f.label :k_constant, class: 'pull-left' %>
    <%= f.number_field :k_constant, placeholder: "k", class: 'numeric pull-right', step: :any %>

    <% if process_config.is_pid %>
      <div class="clearfix"></div>
      <%= f.label :td_constant, class: 'pull-left' %>
      <%= f.number_field :td_constant, placeholder: "td", class: 'numeric pull-right', step: :any %>
      <div class="clearfix"></div>
      <%= f.label :n_constant, class: 'pull-left' %>
      <%= f.number_field :n_constant, placeholder: "n", class: 'numeric pull-right', step: :any %>
    <% else %>
      <br><br><br><br>
    <% end %>

    <div class="clearfix"></div>
    <%= f.label :beta_constant, class: 'pull-left' %>
    <%= f.number_field :beta_constant, placeholder: "beta", class: 'numeric pull-right', step: :any %>
    <div class="clearfix"></div>
    <%= f.label :h_constant, class: 'pull-left' %>
    <%= f.number_field :h_constant, placeholder: "h", class: 'numeric pull-right', step: :any %>
    <div class="clearfix"></div>
    <br>
    <br>
    <label for="" class="pull-left">Integrator on</label>
    <div class="pull-right">
      <%= f.radio_button(:integrator_on, true) %>
      <%= f.label(:integrator_on_true, 'On') %>
      <%= f.radio_button(:integrator_on, false) %>
      <%= f.label(:integrator_on_false, 'Off') %>
    </div>
    <br>
    <br>
    <%= f.label :ti_constant, class: 'pull-left' %>
    <%= f.number_field :ti_constant, placeholder: "ti", class: 'numeric pull-right', step: :any %>
    <div class="clearfix"></div>
    <%= f.label :tr_constant, class: 'pull-left' %>
    <%= f.number_field :tr_constant, placeholder: "tr", class: 'numeric pull-right', step: :any %>
    <div class="clearfix"></div>
    <br><br>
    <%= f.hidden_field :is_pid, value: process_config.is_pid %>
    <%= f.submit 'Update config', class: 'btn btn-default' %>
  <% end %>
</div>
