<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h1>Cloud regulator</h1>
          <div id="graph" style="height: 350px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<div id="config" class="intro">
  <div class="container">
    <% if @raspberry %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h4><%= @raspberry.ip_address ? "Rasperry ip: #{@raspberry.ip_address}" : 'No Rasperry online' %></h4>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Configuration</h2>
          <%= form_for @config do |f| %>
            <%= f.label :k_constant, class: 'pull-left' %>
            <%= f.number_field :k_constant, placeholder: "k", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <%= f.label :ti_constant, class: 'pull-left' %>
            <%= f.number_field :ti_constant, placeholder: "ti", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <%= f.label :tr_constant, class: 'pull-left' %>
            <%= f.number_field :tr_constant, placeholder: "tr", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>

            <%= f.label :td_constant, class: 'pull-left' %>
            <%= f.number_field :td_constant, placeholder: "td", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <%= f.label :n_constant, class: 'pull-left' %>
            <%= f.number_field :n_constant, placeholder: "n", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <%= f.label :beta_constant, class: 'pull-left' %>
            <%= f.number_field :beta_constant, placeholder: "beta", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <%= f.label :h_constant, class: 'pull-left' %>
            <%= f.number_field :h_constant, placeholder: "h", class: 'numeric pull-right', step: :any %>
            <div class="clearfix"></div>
            <br><br>
            <%= f.submit 'Update config', class: 'btn btn-default' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var _updateRate = 1000;

  var graph = Morris.Line({
      element: 'graph',
      data: [],
      xkey: 'x',
      ykeys: ['y', 'z', 'a'],
      labels: ['angle', 'position', 'latency'],
      xLabels: 'second',
      parseTime: false,
      hideHover: true,
      fillOpacity: 0,
      pointSize: 0
  });


  function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  var req = 0;
  function update() {
    $.getJSON('/live_cycles?req=' + req + "&points=" + getParameterByName("points"), function(jsonData) {
      graph.setData(jsonData);
    });
    req++;
  }
  setInterval(update, _updateRate);


  // Only allow numeric input
  $('.numeric').keypress(function(e) {
    var a = [];
    var k = e.which;
    for (i = 48; i < 58; i++)
      a.push(i);
    a.push(46);
    if (!($.inArray(k,a)>=0))
      e.preventDefault();
  });


</script>
