<!DOCTYPE html>
<html>
<head>
  <title>Cloud Regulator | Group25</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Group25">
  <meta name="description" content="Cloud Regulator Web">

  <title>CloudRegulator</title>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://cdn.oesmith.co.uk/morris-0.4.3.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://cdn.oesmith.co.uk/morris-0.4.3.min.js", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <hr>
          <p>Grupp 25 - 2013</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->
  <% if content_for?(:javascript) %><%= yield :javascript %>><% end %>
</body>
</html>
